.topic-list {
    max-height: 100%;

    display: flex;
    flex: 1;

    justify-content: center;

    .list-board {
        display: flex;
        flex-direction: column;

        .item-wrapper {
            margin: 0 0 10px 0;
            display: flex;
            flex-direction: column;

            overflow-y: scroll;
        }
    }
}
